<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-chromebook-skip"
        version="1.0.0">
    <name>Cordova Chromebook Skip</name>
    <description>Force hardware features to be optional for Chromebook support</description>
    <license>MIT</license>
    <keywords>cordova, android, chromebook</keywords>

    <platform name="android">
        <proguard-config file="proguard-rules.pro" />
        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="AndroidProguardFiles" value="proguard-rules.pro" />
            <preference name="AndroidXEnabled" value="true" />
            <preference name="GradlePluginKotlinEnabled" value="true" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <queries>
                <intent>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="https" />
                </intent>
                <package android:name="com.android.chrome" />
            </queries>
            <uses-feature android:name="android.hardware.camera" android:required="false" />
            <uses-feature android:name="android.hardware.camera.any" android:required="false" />
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
            <uses-feature android:name="android.hardware.camera.front" android:required="false" />
            <uses-feature android:name="android.hardware.telephony" android:required="false" />
            <uses-feature android:name="android.hardware.location.gps" android:required="false" />
            <uses-feature android:name="android.hardware.location" android:required="false" />
            <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
            <uses-feature android:name="android.hardware.fingerprint" android:required="false" />
            <uses-feature android:name="android.hardware.microphone" android:required="false" />
        </config-file>
    </platform>
</plugin>
